
<div class="row">
  <div class="col s6 offset-s4">
      <h1>Cuisines</h1>
  </div>
</div>


<div class="container">
<table >
  <thead>
  <tr>
      <th>Nom</th><th>Type</th> <th></th>
  </tr>
  </thead>
  <tr *ngFor="let a of listeCuisines">
    <td>{{a.nom}} </td>
    <td>{{a.type}} </td>
    <td>
      <a (click)="updateRestaurant(a.id_resto)" class="clickable"><i class="material-icons">edit</i> </a> <a (click)="deleteRestaurant(a.id_resto)" class="clickable"><i class="material-icons">delete_sweep</i> </a>
    </td>
  </tr>
</table>
</div>
<div class="fixed-action-btn">
  <a (click)="ajouter()"  class="btn-floating btn-large red" >
    <i class="large material-icons">add</i>
  </a>
</div>
