<div class="row">
    <div class="col s6 offset-s5">
        <h1>Les Articles</h1>
    </div>
</div>


<!-- <div class="container">
<table >
  <thead>
  <tr>
    <th>Designation</th> <th>Prix</th> <th></th>
  </tr>
  </thead>
  <tr *ngFor="let a of listearticles">
    <td>{{a.designation}} </td>
    <td>{{a.prix}} </td>
    <td>
      <a (click)="onEditArticle(a.id_article)" class="clickable"><i class="material-icons">edit</i> </a> <a (click)="onDeleteArticle(a.id_article)" class="clickable"><i class="material-icons">delete_sweep</i> </a>
    </td>
  </tr>
</table>
</div>
<div class="fixed-action-btn">
  <a routerLink="/ajouterarticle" class="btn-floating btn-large red" >
    <i class="large material-icons">add</i>
  </a>
</div>   -->

<div  class="row">
    <div *ngFor="let a of listearticles" class="col s4">
        <p class="header">{{a.designation}}</p>
        <div class="card horizontal hoverable">
          <div class="card-image">
            <img src="../../../assets/img/portfolio-2.jpg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>Prix: {{a.prix}} FCFA.</p>
            </div>
            <div class="card-action">
                <a (click)="onEditArticle(a.idagence)" class="clickable"><i class="material-icons">edit</i> </a> <a (click)="onDeleteArticle(a.id_article)" class="clickable"><i class="material-icons">delete_sweep</i> </a>
            </div>
          </div>
        </div>
      </div>
</div>



