.centrer{
  
    padding: 10px;
    background-color: rgba(247, 242, 242, 0.829);
  }
  
  .outer-div
  {
    margin-top: 0px;
    margin-left: 120px;
    width: 150%;
    height: 680px;
    border: 0px;
  }