
<div class="row">
    <div class="col s6 offset-s4">
        <h1>Liste des Catalogues  {{nom}}</h1>
    </div>
  </div>


<div class="container">
  <table >
    <thead>
    <tr>
      <th>nom</th><th>Restaurant</th>  <th></th>
    </tr>
    </thead>
    <tr *ngFor="let a of listes">
      <td>{{a.nom}} </td>
      <td>{{a.id_resto.designation}} </td>
      <td>
        <a (click)="updateCatalogue(a.id_catalogue)" class="clickable"><i class="material-icons">edit</i> </a> <a (click)="deleteCatalogue(a.id_catalogue)" class="clickable"><i class="material-icons">delete</i> </a>
      </td>
    </tr>
  </table>
  </div>
  <div class="fixed-action-btn">
    <a routerLink="/ajoutercatalogue" class="btn-floating btn-large red" >
      <i class="large material-icons">add</i>
    </a>
  </div>

